*{
	padding: 0;
	margin: 0;
	font-family: 'Roboto', sans-serif;
}

.clearfix {
	overflow: auto;
}

.education-entry, .project-entry, .work-entry {
	padding: 0 5% 0 5%;
}


#main {
	padding: 10px 20px 10px 10px;
	background-color: #7F7F7F;
}

#navigation {
	width: 100%;
	text-align: center;
	display: inline-block;
	font-weight: bold;
	font-size: 18px;
	list-style-type: none;
	text-decoration: none;
}

#navigation ul li a {
	list-style-type: none;
	padding: 15px 50px 50px 10px;
	color: #D6D6CC;
	text-align: center;
}

#navigation li a:hover {
	color: #F5A623;
}

ul {
	list-style-type: none;
	text-align: center;
}

li {
	display: inline;
}

h1 {
	font-size: 40px;
	color: #F5A623;
	line-height: 48px;
	display: inline;
}

h2 {
	font-weight: bold;
	font-size: 24px;
	color: #000;
	line-height: 29px;
}
h5 {
	font-weight: bold;
	font-size: 24px;
	color: #000;
	line-height: 29px;
	padding: 10px 0 0 0;
}
horange {
	font-weight: bold;
	font-size: 24px;
	color: #F5AE23;
	line-height: 29px;
}
h3 {
	font-style: italic;
	font-size: 20px;
	color: #000;
	line-height: 22px;
}

h4 {
	font-weight: bold;
	font-size: 16px;
	color: #F9F9F7;
	line-height: 20px;
}

h2, h3, h4, h5 {
	padding: 15px 5% 10px 5%;
}

.date-text {
	font-style: italic;
	font-size: 16px;
	color: #000;
	line-height: 16px;
	float: left;
	padding: 3px 10px 3px 0;
}

.location-text {
	font-style: italic;
	font-size: 18px;
	color: #000;
	line-height: 16px;
	float: center;
}

p {
	font-size: 16px;
	color: #000;
	line-height: 21px;
}

#header {
	font-size: 18px;
	background-color: #7F7F7F;
}

.headerRole {
	color: #D6D6CC;
	font-weight: bold;
}

.welcome-message {
	font-style: italic;
	font-size: 18px;
	color: #00FF00;
	line-height: 28px;
}

#skillsH3 {
	color: #F5AE23;
	display: none;
}

.orange {
	background-color: #F5AE23;
}

.orange-text {
	font-weight: bold;
	color: #F5AE23;
}

.white-text {
	font-weight: bold;
	color: #FFF;
}

.gray {
	background-color: #F3F3F3;
	padding-bottom: 10px;
	clear: both;
}
.grayb {
	background-color: #F3F3F3;
	padding-bottom: 10px;
}

.dark-gray {
	background-color: #4A4A4A;
}

.flex-box {
	display: -webkit-flex;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 10px 0 20px 0;
}

.flex-box2 {
	display: -webkit-flex;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}

.center-content {
	padding: 2.5% 5% 2.5% 5%;
}

ul {
	list-style-type: none;
}

.projimg {
	padding: 10px 30px 0 0;
	width: 250px;

}
#uimg {
	float:right;
	width:400px;
	padding: 20px 0 0 0;
}

img {
	padding: 10px 0 0;
}

.biopic {
	float: left;
	padding: 10px 20px 0 0;
	width: 200px;
	display: none;
}

/* Bar chart stuff */
.chart div {
	font: 10px sans-serif;
	background-color: #4A4A4A;
	text-align: right;
	padding: 3px;
	margin: 1px;
	height: 12px;
	color: white;
	display: inline-block;
}

span {
	padding: 5px;
}

#letsConnect {
	text-align: center;
}

@media only screen and (max-width: 1024px) {
	#letsConnect {
		margin-top: 5%;
	}
}

#map {
  display: block;
  height: 100%;
  margin-left: 5%;
  margin-right: 5%;
}

#mapDiv {
  height: 400px;
  width: 100%;
  padding-bottom: 5%;
}
@media only screen and (max-width:900px) {
.biopic {
	width: 175px;
	}
}

@media only screen and (max-width: 750px) {
#letsConnect {
	margin-top: 10%;
}
	.biopic {
		width: 150px;
	}
	.welcome-message {
	display: none;
	}
}


@media only screen and (min-width: 750px) {
#skillsH3,
	.biopic {
		display: block;
	}
}
